<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{view/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>게시판 수정</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.22/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div layout:fragment="content" class="bg-gray-100 flex items-center justify-center min-h-screen"
<div class="container w-full max-w-lg bg-white p-8 rounded-lg shadow-lg">
    <h1 class="text-2xl font-bold mb-6 text-center">게시판 수정</h1>
    <form th:action="@{/board/update}" method="post" th:object="${boardDto}" class="space-y-4">
        <!-- 수정할 이름 -->
        <div class="form-group">
            <label for="boardNameUpdate" class="block text-gray-700 font-medium">수정할 이름</label>
            <input
                    id="boardNameUpdate"
                    type="text"
                    name="boardName"
                    th:value="*{boardName}"
                    placeholder="수정할 이름 입력"
                    required
                    class="input input-bordered w-full bg-white" />
        </div>

        <!-- 히든필드! -->
        <input type="hidden" th:value="*{boardId}" name="boardId" />
        <input type="hidden" th:value="*{status}" name="status" />

        <!-- 수정 버튼 -->
        <div class="form-group">
            <button type="submit" class="btn btn-primary w-full">수정</button>
        </div>
    </form>
</div>
</body>
</html>