<header th:fragment="header">
    <div>
        <div class="logo" th:if = "${nickname !=null}" >안녕하세요 <span th:text="${nickname}"></span>님!</div>
        <div class="logo" th:unless = "${nickname !=null}" >Commit_date</div>
        <nav>
            <!--관리자메뉴-->
            <div th:if="${role == 'ADMIN'}">
                <a th:action="@{/board}">게시판 관리</a>
                <a href="#">스와이프1</a>
                <a href="#">프로필</a>
                <a href="/logout">로그아웃</a>
            </div>
            <!--일반사용자-->
            <div th:if="${role == 'MEMBER'}">
                <a href="#">스와이프2</a>
                <a href="#">프로필</a>
                <a href="/logout">로그아웃</a>
            </div>

            <div th:if="${role == null}">
                <a href="#">스와이프3</a>
                <a href="/login">로그인</a>
                <a href="/sign-up">회원가입</a>
            </div>

        </nav>
    </div>
</header>