<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Spring WebSocket Chat</title>
  <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.5.1/dist/sockjs.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
</head>
<body>
<h2>Chat Room</h2>

<div id="chat-box"></div>
<div th:if="${#lists.isEmpty(previousMessages)}">
</div>
<div th:each="message : ${previousMessages}" th:if="${!#lists.isEmpty(previousMessages)}">
  <p th:text="${message.sender} + ': ' + ${message.content}"></p>
</div>
<input type="text" id="username" th:value="${username}" disabled placeholder="Username" />
<input type="hidden" id="roomId" th:value="${roomId}" />
<input type="text" id="message" placeholder="Enter message" />
<button onclick="sendMessage()">Send</button>

<script type="text/javascript">
  let stompClient = null;
  let roomId = document.getElementById('roomId').value;

  // 연결 설정
  function connect() {
    let socket = new SockJS('/chat');
    stompClient = Stomp.over(socket);

    stompClient.connect({}, function (frame) {
      console.log('Connected: ' + frame);
      stompClient.subscribe('/topic/'+roomId, function (messageOutput) {
        showMessage(JSON.parse(messageOutput.body));
      });
    });
  }

  // 메시지 전송
  function sendMessage() {
    var username = document.getElementById('username').value;
    var content = document.getElementById('message').value;
    stompClient.send("/app/sendMessage/" + roomId, {}, JSON.stringify({'sender': username, 'content': content , 'roomId': roomId}));
    document.getElementById('message').value = '';
  }

  // 메시지 출력
  function showMessage(message) {
    var chatBox = document.getElementById('chat-box');
    var messageElement = document.createElement('div');
    messageElement.textContent = message.sender + ": " + message.content;
    chatBox.appendChild(messageElement);
  }

  // 페이지 로드 시 연결 시작
  connect();
</script>
</body>
</html>