<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{view/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾기</title>
    <th:block layout:fragment="script">
    <script defer src="/js/forgotPassword.js"></script>
    </th:block>
</head>
<body>
<div layout:fragment="content" class="bg-gray-100 flex items-center justify-center min-h-screen">
<div class="container w-full max-w-lg bg-white p-8 rounded-lg shadow-lg">
    <h1 class="text-2xl font-bold mb-6 text-center">비밀번호 찾기</h1>
    <form id="forgotForm" class="space-y-4" onsubmit="return false;">
        <div class="form-group">
            <label for="email" class="block text-gray-700 font-medium">가입시 사용한 이메일</label>
            <input type="email"
                   id="email"
                   required
                   placeholder="이메일 입력"
                   class="input input-bordered w-full bg-white" />
            <small class="errorMessage text-red-500 text-sm" id="emailError"></small>
        </div>
        <div class="form-group">
            <button type="button"
                    id="submitBtn"
                    class="btn btn-primary w-full">
                임시 비밀번호 발급
            </button>
        </div>
    </form>
</div>
</div>
</body>
</html>