<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>로그인</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.22/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">
  <div class="container flex flex-col items-center bg-white p-8 rounded-lg shadow-lg">
    <h1 class="text-2xl font-bold mb-6">로그인</h1>
    <form th:action="@{/process-login}" method="post" class="w-full max-w-sm">
      <div class="form-group mb-4">
        <label for="username" class="block text-gray-700">아이디</label>
        <input
                type="text"
                id="username"
                name="username"
                required
                placeholder="이메일"
                class="input input-bordered w-full bg-white" />
      </div>
      <div class="form-group mb-6">
        <label for="password" class="block text-gray-700">비밀번호</label>
        <input
                type="password"
                id="password"
                name="password"
                required
                placeholder="비밀번호"
                class="input input-bordered w-full bg-white" />
      </div>
      <button type="submit" class="btn btn-primary w-full mb-6">로그인</button>
      <div class="flex w-full flex-col border-opacity-50 my-4">
        <div class="divider">OR</div>
      </div>
    </form>
    <div class="oauth-icons flex justify-evenly w-full max-w-sm mb-6">
      <a th:href="@{/oauth2/authorization/google}" class="flex items-center justify-center">
        <img class="w-11" th:src="@{/images/btn_google.svg}" alt="구글로 로그인" />
      </a>
      <a th:href="@{/oauth2/authorization/naver}" class="flex items-center justify-center">
        <img class="w-11 rounded-full" th:src="@{/images/btn_naver.svg}" alt="네이버로 로그인" />
      </a>
      <a th:href="@{/oauth2/authorization/kakao}" class="flex items-center justify-center">
        <img class="w-11" th:src="@{/images/btn_kakao.svg}" alt="카카오로 로그인" />
      </a>
    </div>
    <div class="link-group text-center">
      <a th:href="@{/member/forgot-password}" class="text-blue-600 hover:underline">비밀번호를 잊으셨나요?</a><br>
      <a th:href="@{/sign-up}" class="text-blue-600 hover:underline">아직 회원이 아니신가요? 회원가입</a>
    </div>
  </div>
</body>
</html>
