<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/board/save" method="post">
    <label for ="boardName">
        제목 :
    </label>
    <input id="boardName" type="text" name="boardName">
    <button type="submit">저장</button>
</form>

<form action="/board/update" method="post">
    <label for ="boardNameUpdate">
        제목 :
    </label>
    <input id="boardNameUpdate" type="text" name="boardName">
    <button type="submit">저장</button>
</form>
</body>
</html>