<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/signupValidation.js"></script>
</head>
<body>
<div class="container">
    <h1>회원가입</h1>
    <form id="signup-form" method="post" enctype="application/x-www-form-urlencoded" novalidate>
    <div class="signup-container">
            <div class="form-group">
                <label for="email">이메일</label>
                <input type="email" id="email" name="email" placeholder="이메일 입력" required>
                <small class="errorMessage" id="emailError"></small>
            </div>
            <div class="form-group">
                <label for="username">사용자명</label>
                <input type="text" id="username" name="username" placeholder="사용자명 입력" required minlength="2" maxlength="30">
                <small class="errorMessage" id="usernameError"></small>
            </div>
            <div class="form-group">
                <label for="password">비밀번호</label>
                <input type="password" id="password" name="password" placeholder="비밀번호 입력" required minlength="8" maxlength="100">
                <small class="errorMessage" id="passwordError"></small>
            </div>
            <div class="form-group">
                <label for="nickname">닉네임</label>
                <input type="text" id="nickname" name="nickname" placeholder="닉네임 입력" required minlength="2" maxlength="15">
                <small class="errorMessage" id="nicknameError"></small>
            </div>
            <div class="form-group">
                <label for="phoneNumber">전화번호</label>
                <input type="text" id="phoneNumber" name="phoneNumber" placeholder="전화번호 입력 (숫자만)" required>
                <small class="errorMessage" id="phoneNumberError"></small>
            </div>
            <div class="form-group">
                <button type="submit" class="btnSubmit">회원가입</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>
